PORT=3000
NODE_ENV=development
APP_NAME=Azure TODO

# Mettre a true pour executer localement sans Azure
USE_FILE_STORAGE=true

# Cosmos DB
COSMOS_ENDPOINT=
COSMOS_KEY=
COSMOS_DATABASE=todo-app-db
COSMOS_CONTAINER=tasks
COSMOS_PARTITION_KEY=/id

# Key Vault
KEY_VAULT_URL=
COSMOS_KEY_SECRET_NAME=

# Blob Storage
AZURE_STORAGE_CONNECTION_STRING=
BLOB_CONTAINER_NAME=exports
